@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
.header { 
    &__container {
        padding: 32px 80px;
        max-width: 1400px;
        margin: 0px auto;
    }
    &.light {
        background: $white;
        .header__link {
            color: #171717;
        }
        .header__logo {
            fill: black;
        }
        .header__btn_lang {
            background: $white;
        }
        .header__ham_menu span {
            background: black;
        }

    }
    &.dark {
        background: black;
        .header__link {
            color: $gray;
        }
        .header__link:hover {
            color: $white;
        }
        .header__logo {
            fill: white;
            filter: invert(100%); 
        }
        .header__btn_lang {
            background: black;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ham_menu {
        display: none;
        width: 35px;
        height: 40px;
        margin-left: 10px;
    }
    &__ham_menu span {
        display: block;
        width: 25px;
        height: 3px;
        background: $white;
        margin: 5px 0px;
    }
    &__logo {
        width: 96px;
        // filter: invert(100%); 
    }
    &__items {
        display: flex;
        justify-content: center;
        padding: 0px 17px;
        border: 1px solid #262626;
        border-radius: 50px;
    }
    &__link {
        display: block;
        font-family: $font;
        font-size: 14px;
        padding: 10px 16px;
        // color: $gray;
    }
    // &__link:hover {
    //     color: $white;
    // }
    &__btns {
        display: flex;
        align-items: end;
        gap: 10px;
    }
    &__btn_lang{ 
        width: 40px;
        height: 40px;
        border: 1px solid #262626;
        border-radius: 50%;
        font-family: $font;
        font-size: 14px;
        color: $gray;
    }
    &__btn_lang {
        background: #171717;
    }
    &__btn_yellow {
        @include button;
        background: $yellow;
    }
    &__btn_yellow:hover {
        background: #ebb305;
    }
    
}

@media screen and (min-width: map-get($breakpoints, 'desktop')) {
    .header {
        &__logo {
            width: 120px;
        }
        &__link {
            font-size: 16px;
        }
        &__btn_lang {
            font-size: 16px;
            width: 45px;
            height: 45px;
        }
        &__btn_yellow {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: map-get($breakpoints, 'tablet')) {
    .header {
        &__container {
            padding: 22px 40px;
        }
        &__ham_menu {
            display: block;
            cursor: pointer;
        }
        &__items {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 0;
            background: #171717;
            width: 100%;
            padding: 20px 0;
            border-radius: 0 0 20px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        &__items.active {
            display: flex;
        }
        &__item {
            text-align: center;
            padding: 15px 0;
            border-bottom: 1px solid #262626;
        }
        &__item:last-child {
            border-bottom: none;
        }
        &__btn_yellow {
            display: none;
        }
    }
    
}
